.slide-exit {
    transform: translateY(0%);
}

.slide-exit-active {
    transition: 0.75s;
    transform: translateY(100%);
}

.slide-exit-done {
    transform: translateY(100%);
}

.slide-enter {
    width: 100vw;
    position: fixed;
    bottom: 100%;
}

.slide-enter-active {
    transition: 1s;
    transform: translateY(100%);
}